@model UCP1_PAW_111_C.Models.Transaksi

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transaksi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTransaksi" class="control-label"></label>
                <input asp-for="IdTransaksi" class="form-control" />
                <span asp-validation-for="IdTransaksi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKonsumen" class="control-label"></label>
                <select asp-for="IdKonsumen" class ="form-control" asp-items="ViewBag.IdKonsumen"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdAdmin" class="control-label"></label>
                <select asp-for="IdAdmin" class ="form-control" asp-items="ViewBag.IdAdmin"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProduk" class="control-label"></label>
                <select asp-for="IdProduk" class ="form-control" asp-items="ViewBag.IdProduk"></select>
            </div>
            <div class="form-group">
                <label asp-for="TotalBiaya" class="control-label"></label>
                <input asp-for="TotalBiaya" class="form-control" />
                <span asp-validation-for="TotalBiaya" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
